@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');

h1, p {
    font-family: "Noto Sans", sans-serif;
}

body {
    margin: 0;
}

.gallery-item {
    margin: 2px;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.slick-dots li button:before {
    opacity: 1;
    color: gray !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white !important;
}

.gallery-carousel-item {
    
    cursor: pointer; /* 커서를 포인터로 변경 */
    display: flex; /* 이미지를 중앙에 정렬 */
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
}
