@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

h1, p {
    font-family: "Noto Sans KR", sans-serif;
}

body {
    margin: 0;
}

.gallery-item {
    margin: 2px;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.slick-dots li button:before {
    transform: scale(1.5);
    opacity: 1;
    color: gray !important;
}

.slick-dots li.slick-active button:before {
    transform: scale(1.5);
    opacity: 1;
    color: white !important;
}

.gallery-carousel-item {
    cursor: pointer; /* 커서를 포인터로 변경 */
}

.slick-prev:before, .slick-next:before {
    content: '' !important;
}
