.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;

    li button:before {
        transform: scale(1.5) !important;
        opacity: 1;
        color: gray !important;
    }

    li.slick-active button:before {
        transform: scale(1.5) !important;
        opacity: 1;
        color: white !important;
    }
}

.slick-prev:before, .slick-next:before {
    content: '' !important;
}

.gallery-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.gallery-carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 auto;
}